!include include/default_mysqld.cnf

[mysqld.1]
ssl_ca=@ENV.MYSQL_TEST_DIR/std_data/kaaca.cer
ssl_cert=@ENV.MYSQL_TEST_DIR/std_data/kaamariadbcustomer1.cer
ssl_key=@ENV.MYSQL_TEST_DIR/std_data/kaamariadbcustomer1.key


[client]
ssl-verify-server-cert=true
ssl_ca=@ENV.MYSQL_TEST_DIR/std_data/kaaca.cer
ssl_key=@ENV.MYSQL_TEST_DIR/std_data/kaanonkaaoid.key
ssl_cert=@ENV.MYSQL_TEST_DIR/std_data/kaanonkaaoid.cer

